<section id="counter-picks">
  <h3>Counterpicks</h3>
	<div id="counterpicks-forums">
		<h4>Derived from Forums</h4>
		<ul>
		</ul>
	</div>
	<!-- #counterpicks-forums -->
	
	<div id="counterpicks-community">
		<h4>Community-Voted</h4>
		<ul>
		</ul>
	</div>
	<!-- #counterpicks-community -->
	
	<div id="counterpicks-login" class="logged-out">
		<h4>Log in to cast your own vote!</h4>
		<a href="<%=login_path %>" class="button">Login</a> - <a href="<%=new_user_registration_path %>" class="button">Create an Account</a>
	</div>
	<!-- #counterpicks-vote -->
	
	<div id="counterpicks-vote" class="logged-out">
		<h4>Vote on Counterpicks</h4>
		<form class="counterpicks-vote">
		  <input type="hidden" name="champ" class="vote-champ-name" value="">
  		<ul>
  			<li>
  				<select name="vote[0][name]" class="counterpick-name">
  					<option value="">Counterpick #1</option>
  					<%= options_for_select( @all_champs ) %>
  				</select>
  				<select name="vote[0][reason]" class="counterpick-reason">
  					<option value="">Reason</option>
  					<%= options_for_select( @all_reasons ) %>
  				</select>
  			</li>
  			<li>
  				<select name="vote[1][name]" class="counterpick-name">
  					<option value="">Counterpick #2</option>
            <%= options_for_select( @all_champs ) %>
  				</select>
  				<select name="vote[1][reason]" class="counterpick-reason">
  					<option value="">Reason</option>
  					<%= options_for_select( @all_reasons ) %>
  				</select>
  			</li>
  			<li>
  				<select name="vote[2][name]" class="counterpick-name">
  					<option value="">Counterpick #3</option>
            <%= options_for_select( @all_champs ) %>
  				</select>
  				<select name="vote[2][reason]" class="counterpick-reason">
  					<option value="">Reason</option>
  					<%= options_for_select( @all_reasons ) %>
  				</select>
  			</li>
  		</ul>
  		<a href="#" class="button vote-save">Save</a>
  		<div class="spinner" style="float: left; position: relative; display: inline; margin: 10px 0 0 10px;" />
		</form>

	</div>
	<!-- #counterpicks-vote -->

</section>