<!DOCTYPE html>
<html>
  <head>
    <title>Soloqueue</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="left-section">
      <h1 id="soloqueue">Soloqueue</h1>
      
      <%= render 'champ_item_list' %>
    </section>
    
    <section id="right-section">
      <%= yield %>
    </section>
  </body>
</html>
