<!DOCTYPE html>
<html>
  <head>
    <title>Soloqueue - A League of Legends Database</title>
    <%= stylesheet_link_tag    "application" %>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic|Amaranth:400,700italic,400italic,700' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag "application", "damage_calc", "masteries", "rightClick" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Facebook Shit -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145499805550913";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook Shit -->
    
    <aside id="social">
      <div class="fb-like" data-href="http://www.facebook.com/pages/Soloqueue/322551847772624" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="verdana"></div>
      <a href="https://twitter.com/Soloqueue" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Soloqueue</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  
    <header <%= "class='index'".html_safe if request.env['PATH_INFO'] == "/" %>>
      <nav>
        <a href="/">Home</a> | 
        <a href="/damage-calculator">Damage Calc.</a> |
        <a href="/about">About</a> | 
        <a href="irc://irc.quakenet.org/soloqueue">#soloqueue on irc.quakenet.org</a>
      </nav>
      
      <form id="main-search-form" onSubmit="return false;" <%= "class='not-index'".html_safe if request.env['PATH_INFO'] != "/" %>>
        <input type="text" id="search" autocomplete="off" placeholder="Type a Champion or Item Name Here...">
        <ul id="auto-complete"></ul>
      </form>
      
      <h1>Soloqueue</h1>
      
      <% if request.env['PATH_INFO'] == "/" %>
        <p>
          Solo Queue is a fast, easy way to get data on champs and items in League of Legends. Put that 30 seconds during ranked champion selection to good use! Just start typing in the search bar to get instant results like counterpicks, champ abilities, and item stats.
        </p>
      <% end %>
    </header>
    
    <section id="main-section">
      <%= yield %>
    </section>
    
    
    <% if Rails.env.production? %>
    <!-- GA Shit -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27644901-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End GA Shit -->
    
    <!-- User Voice Shit -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KPxNPe6gXFZNgxMHfgShaQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- End User Voice Shit-->
    <% else %>
    <!-- Empty GA for dev -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
    </script>
    <% end %>

  </body>
</html>
