<!DOCTYPE html>
<html>
  <head>
    <title>Soloqueue</title>
    <%= stylesheet_link_tag    "application" %>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic|Amaranth:400,700italic,400italic,700' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Facebook Shit -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145499805550913";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook Shit -->
    
    <section id="left-section">
      <header id="soloqueue">
        <aside>
          <div class="fb-like" data-href="http://www.facebook.com/pages/Soloqueue/322551847772624" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="verdana"></div>
          <a href="https://twitter.com/Soloqueue" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Soloqueue</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </aside>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
        </nav>
        <h1><a href="/">Soloqueue</a></h1>
      </header>
      <%= render 'champ_item_list' if request.env['PATH_INFO'] == "/" %>
    </section>
    
    <section id="right-section" <%= "class='single_column'".html_safe if request.env['PATH_INFO'] != "/" %>>
      <%= yield %>
    </section>
    
    <!-- GA Shit -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27644901-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End GA Shit -->
    
    <!-- User Voice Shit -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KPxNPe6gXFZNgxMHfgShaQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- End User Voice Shit-->
  </body>
</html>
